:root {
  --primary-500: #336f6c;
  --primary-200: #1d564c;
  --primary: var(--primary-500);

  --secondary-100: #1d564c;
  --secondary-500: #08322c;
  --accent: #40d4c5;

  --white: hsl(180, 54%, 95%);
  --pale-white: hsl(180, 20%, 85%);
  --grey: hsl(180, 25%, 90%);
  --dark-grey: hsl(180, 20%, 80%);
  --neutral: hsl(0 0% 82%);
  --neutral-transparent: hsla(0 0% 94% / 85%);
  --dark: var(--secondary-500);

  --color-confirm: hsl(100, 50%, 50%);
  --color-warning: hsl(39, 100%, 50%);
  --color-warning-subtle: hsl(39, 90%, 80%);
  --color-danger: hsl(0, 70%, 55%);
  --color-informational: hsl(240, 100%, 50%);

  --background: var(--white);
  --text: var(--dark);
  --text-light: var(--dark-grey);

  --nav-link-active: var(--primary-200);
}

[data-theme="dark"] {
  --background: var(--dark);
  --text: var(--white);
}

:root {
  --p-primary-50: #eaf0ef;
  --p-primary-100: #d5e1e0;
  --p-primary-200: #c1d2d1;
  --p-primary-300: #98b5b3;
  --p-primary-500: #336f6c;
  --p-primary-600: #2b605d;
  --p-primary-700: #23514e;
  --p-primary-900: #1c4240;

  --p-surface-0: hsl(0 0% 100%);
  --p-surface-50: hsl(210 40% 98%);
  --p-surface-100: hsl(210 32% 91%);
  --p-surface-200: hsl(210 35% 80%);
  --p-surface-300: hsl(213 27% 84%);
  --p-surface-400: hsl(215 20% 65%);
  --p-surface-500: hsl(215 16% 47%);
  --p-surface-600: hsl(215 19% 35%);
  --p-surface-700: hsl(219 35% 17%);
  --p-surface-800: hsl(219 46% 13%);
  --p-surface-900: hsl(222 47% 11%);
  --p-surface-950: hsl(175 65% 3%);

  --p-content-border-radius: 0.5rem;
}

:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}
