@import "./base.css";

h1 {
  @apply text-4xl;
}

h2 {
  @apply leading-[1] dark:text-gray-400;
}

h3 {
  @apply font-bold;
}

.form-control {
  background: transparent;
  outline: 2px solid var(--neutral);
  padding: 1rem;
  border-radius: 0.5rem;
}

input {
  width: 100%;
}

label {
  display: block;
  line-height: 1;

  @apply dark:text-gray-300;
}

button:disabled {
  filter: saturate(0.2);
  cursor: not-allowed;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.book-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr));
  gap: 1rem;
}

a {
  transition: color 400ms ease;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply h-80;
}

.main-section {
  @apply p-6 bg-slate-100 dark:bg-surface-800/70 rounded-lg;
}

table {
  min-width: max-content;
  border-collapse: collapse;
}

tr:nth-child(even) {
  @apply bg-slate-200/20 dark:bg-slate-700/10;
}

header.header {
  display: flex;
  flex-direction: column-reverse;
  padding-block-end: 1rem;
}
