:root {
  --primary-500: #336f6c;
  --primary-200: #1d564c;
  --primary: var(--primary-500);

  --secondary-100: #1d564c;
  --secondary-500: #08322c;
  --accent: #40d4c5;

  --white: hsl(180, 54%, 95%);
  --pale-white: hsl(180, 20%, 85%);
  --grey: hsl(180, 25%, 90%);
  --dark-grey: hsl(180, 20%, 80%);
  --neutral: hsl(0 0% 82%);
  --neutral-transparent: hsla(0 0% 94% / 85%);
  --dark: var(--secondary-500);

  --color-confirm: hsl(100, 50%, 50%);
  --color-warning: hsl(39, 100%, 50%);
  --color-warning-subtle: hsl(39, 90%, 80%);
  --color-danger: hsl(0, 70%, 55%);
  --color-informational: hsl(240, 100%, 50%);

  --background: var(--white);
  --text: var(--dark);
  --text-light: var(--dark-grey);

  --nav-link-active: var(--primary-200);
}

[data-theme="dark"] {
  --background: var(--dark);
  --text: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--text);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
button {
  all: unset;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
