@import "./base.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0.8rem;
}

h1 {
  line-height: 0.8;
}

h2 {
  line-height: 1.1;
}

h3 {
  line-height: 1.3;
}

p {
  margin-block: 0.5rem;
  line-height: 1.7;
}

label {
  padding-block: 1rem 0.5rem;
}

input {
  background: var(--grey);
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

input:focus-visible {
  outline: 2px solid var(--primary);
}

label,
input {
  display: block;
}

select {
  background: none;
  border: none;
  outline: 2px solid var(--dark-grey);
  padding: 1rem;
  cursor: pointer;
}

.btn {
  margin-block: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.book-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), auto));
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.4s;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
