@import "./base.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0.8rem;
}

h1 {
  line-height: 0.8;
}

h2 {
  line-height: 1.1;
}

h3 {
  line-height: 1.3;
}

p {
  margin-block: 0.5rem;
  line-height: 1.7;
}

label {
  padding-block: 1rem 0.5rem;
}

input {
  background: var(--neutral-transparent);
  outline: 2px solid var(--neutral);
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

input:hover {
  outline-color: var(--primary);
}

input:focus-visible {
  background: var(--dark-grey);
  outline: 2px solid var(--primary);
}

label,
input {
  display: block;
}

select {
  background: none;
  border: none;
  outline: 2px solid var(--dark-grey);
  padding: 1rem;
  cursor: pointer;
}

button:disabled {
  filter: saturate(0.2);
  cursor: not-allowed;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.book-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr));
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: color 400ms ease;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  padding-block: 1rem;
}

table {
  min-width: max-content;
}

.p-table-header,
.p-table-cell {
  padding: 0.5rem 1rem;
}

.p-table-header {
  display: flex;
  justify-content: space-between;
}

.p-sort {
  cursor: pointer;
}

tr:nth-child(even) {
  background: var(--grey);
}

header.header {
  display: flex;
  flex-direction: column-reverse;
  padding-block-end: 1rem;
}
